version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    
    env_file:
      - ./backend/.env

    environment:
      PORT: 3000
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command: sh -c "npm install && npm run start:dev"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: admin-frontend
    ports:
      - "8081:80"
    depends_on:
      - backend

volumes:
  db_data: {}